<div class="section sectionTwo">
    <div class="row">
        <div class="col-lg-6">
            <div class="sectionTitle"><h2>We Are Experts at <br><b>Bulding an Online Presence</b></h2></div>
            <hr>
            <p class="sectionText">Absideon Interactive is a full service web design agency with experience in building & developing an online presence through design, development and presentation. With all of the services you need under one roof, we can provide end to end support no matter what your specific needs are.</p>
            <p class="sectionText">Many web designers will try to fit your website into one of their existing templates.  At Absideon, we understand that you are unique and your website should be also.  All of our projects are fully custom, setting you apart from your competition.</p>
        </div>
        <div class="col-lg-6 order-lg-2 order-first">
            <div class="sectionImage">
                <img src="./images/collab.jpg">
            </div>
        </div>
    </div>
</div>