<div class="mainContainer">
    <div class="landing">
        <video autoplay muted loop id="video">
            <source src="./images/mountain.mp4" type="video/mp4">
        </video>
        <div class="banner fc-whitesmoke fs90 mar tac z1 posr uc montserrat ts-2-b fw300 fadeIn">
            <span>Absideon Interactive</span>
            <hr class="marb20 mart0 w75p expand">
            <h3 class="ls2 fw200">Web Design Without Limits</h3>
        </div>
        <div class="bannerBox">
            <div class="row h-100">
                <div class="col-lg-4">
                    <div class="box boxOne">
                        <div class="boxTitle">Full Service.</div>
                        <div class="boxText sectionText">We are a one stop shop when it comes to bringing your website to life. We work with you to give you a full customized package including design, development, SEO and maintenance.</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box boxTwo">
                        <div class="boxTitle">Web Applications.</div>
                        <div class="boxText sectionText">Customized web applications designed and devleoped specifically for your needs. Access anytime, anywhere via your web or mobile browser without the need to download any software to your device.</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box boxThree">
                        <div class="boxTitle">Custom Design.</div>
                        <div class="boxText sectionText">There is no one size fits all template when it comes to website design. Our team prides ourself on a collaborative development process where you can be involved as much or as little as you want.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 