<div class="section sectionThree" id="process">
    <div class="sectionTitle"><h2>The Process is as Easy as<br><b>One Two Three</b></h2></div>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="stepBox">
                <div class="icon">
                    <i class="fab fa-wpexplorer"></i><br>
                </div>
                <h3>Explore</h3>
                <hr><br>
                <p>This is where we get to know eachother. We start off by getting an understanding of your needs and expectations. Then our team will go back and prepare some ideas and concepts so we can ensure that everyone is on the same page. Once all are in agreement we will move on to the next phase.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <div class="icon">
                    <i class="fa-solid fa-repeat"></i><br>
                </div>
                <h3>Iterate</h3>
                <hr><br>
                <p>Next is when the magic starts to happen. Our team will start design and development based on what we've learned in the exploration process. After the first draft is developed you will have an opportunity to provide feedback.  This feedback loop will happen as many times as needed until you are 100% satisfied.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <div class="icon">
                    <i class="fa-solid fa-globe"></i><br>
                </div>
                <h3>Deploy</h3>
                <hr><br>
                <p>Now it's time to share your vision with the world!  We offer hosting services through our own platform or we can set up your site on the host of your choice.  Once the site is launched, we can continue to monitor feedback and performance to tweak where neccesary.  Once a client, always a client!</p>
            </div>
        </div>
    </div>
</div>