<div class="section sectionOne">
    <div class="reveal">
        <div class="sectionTitle"><h2>Our <b>Team Delivers</b></h2></div>
        <hr>
        <div class="row">
            <div class="quote">"Absideon did a terrific job designing my small business website. They are excellent communicators, deliver what is promised on time, and has the integrity to truly care that I was satisfied with the finished product. I had very specific ideas about how my business' website would look and how the functionality would work, including integrating widgets from a third party software vendor I use for scheduling and payment, and the final product exceeded my expectations. It's a beautiful, user friendly website. I cannot recommend them highly enough."
            <br><br>
            <div class="byline">Rob M.</div>
            <div class="byline">Pet Pals of Palm Springs</div>
            </div>
        </div>
    </div>
</div>