<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Thank you for your request to Absideon Interactive!  We'll be reaching out soon.</h4>
            </div>
        </div>
    </div>
</div>