<style>
body {
    background: black;
}

.video {
    width: 100%;
    text-align: center;
}
video {
    width: 75%;
    margin: 50px auto;
}
</style>

<div class="container">
    <div class="video">
        <video autoplay loop controls id="video" class="w100p">
            <source src="./images/theresa.mp4" type="video/mp4">
        </video>
    </div>
</div>
