<div class="footer fs14 pad20">
    <div class="row">
        <div class="col-lg-3 tac">
            <img class="h100" src="./images/AILogoWhite.png">
        </div>
        <div class="col-lg-8 rel">
            <div class="posa w100p b0">
                <div class="tar">
                    <span class="marl30 tar fw400"><a href="#">HOME</a></span>
                    <span class="marl30 tar fw400"><a href="#">OUR PROCESS</a></span>
                    <span class="marl30 tar fw400"><a href="#" data-toggle="modal" data-target="#contactModal">CONTACT</a></span>
                </div>
                <hr class="mart5 marb5">
                <div class="row">
                    <div class="col-lg-12">
                        <span>Fort Mill, South Carolina | 908-752-7237 | <a href="mailto:hello@absideoninteractive.com">hello@absideoninteractive.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>